/*Colors: Purple: #511B3D, Blue: #007F85, Orange: #F87525*/


html{

    font-family: Nova Square;
    text-decoration: none;
    text-transform: uppercase;
    background-image: url("images/circles.png");
    background-size: cover;
}

.backgroundOverlay{
    background-color: black;
    position: absolute;
    height: 3000px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    box-sizing: border-box;
    z-index: -1;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #511B3D;    
}

li{
    list-style-type: none;
    font-size: 3em;
}

.navBar{
    display:flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 0 10px 0;
    background-color: #007F85;
    border: solid 4px white;
}

li a {
    color: white;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;    
}

li a:hover {
    color: #f87525;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

main{
    margin-top: 100px;
}

p {
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #511b51;
    border: solid 4px white;
    color: white
}